
// social icons non selector 

.social-icons-list {
    
   margin:0;
   padding:0; 
   list-style:none; 
}

.social-icons-list li {

    display:inline-block;
}

.social-icons-list li a {
    
    display:inline-block;
    line-height:30px;
    height:30px;
    width:30px;
    color:$primary_color;
    font-size: 14px;
}

.social-icons-list li a:hover {

    color:$secondary_color;
}

